<div class="input-modal">
  
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Flavor</mat-label>
      <input matInput [(ngModel)]="flavor">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput [(ngModel)]="color">
    </mat-form-field>
  
  </div>
  <div mat-dialog-actions>
    <button mat-mini-fab (click)="onSave()"><mat-icon>check</mat-icon></button>
    <button mat-mini-fab (click)="onNoClick()"><mat-icon>close</mat-icon></button>
  </div>
</div>