.menu-bar {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 100%; 
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
  }

button {
    margin: 35px; 
   
  }
